body{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Signika Negative';
    justify-content: center;
}

#logo{
    margin-top: 30px;
    margin-bottom: 20px;
    width: 130px;
    
}

#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 30px;
    box-sizing: border-box;
    gap: 30px;
    color: white;
    width: 30%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.508);
}

.label{
    font-size: 10px;
}

.input-con{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 5px;
}

.input-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 5px;
    border-color: rgba(240, 248, 255, 0.415);
    border-style: solid;
    border-width: 1px;
}

.input-field{
    border-style: none;
    width: 90%;
    color: white;
    padding: 15px;
    box-sizing: border-box;
    background-color: unset;
}

.input-field:focus{
    outline: none;
}

#hide-pass{
    display: none;
}

.fa-solid{
    font-size: 10px;
    width: 10%;
    text-align: center;
}

#submit{
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    background-color: #007bff;
    color: white;
    border-style: none;
    border-radius: 5px;
}

.link{
    color: #007bff;;
}

.p{
    font-size: 13px;
}

#signup-form{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border-radius: 10px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    color: rgb(91, 114, 140);
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.508);
}

#signup-form-con{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
}

.s-input-con{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 32%;
}

.s-input-field{
    border-style: solid;
    border-width: 1px;
    padding: 12px;
    box-sizing: border-box;
    width: 100%;
    background-color: unset;
    border-radius: 5px;
    color: black;
}

.s-input-field:focus{
    outline: none;
}

option{
    color: black;
}

@media screen and (max-width: 1100px) {
    #form{
        width: 95%;
    }

    #signup-form{
        padding-left: 30px;
        padding-right: 30px;
    }

    #signup-form-con{
        flex-direction: column;
        align-items: center;
    }

    .s-input-con{
        width: 100%;
    }
}
