


body{
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.small-text{
    font-size: 12px;
}

.big-text{
    font-size: 30px;
    font-weight: 700;
}

#mobil-nav-links{
    display: none;
}

.section-con-head{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
    box-sizing: border-box;
    width: 100%;
}


.section-con{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
    box-sizing: border-box;
    width: 100%;
}

#head-con{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 20%;
}

#head-con div{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#top-nav{
    background-color: rgba(5, 109, 174, 0.274);
    color: rgb(0, 0, 45);
}

#nav-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}

.dropdown:hover .dropdown-menu {
    display: block;
    border-style: solid;
}

h1{
    font-weight: 900;
}

.dropdown {
    width: fit-content;
    background-color: unset;
    box-sizing: border-box;
    padding: 5px;
    box-sizing: border-box;
}

.btn {
    text-align: center;
    border-style: solid;
}

.name {
    text-align: center;
}

#hero{
    padding-top: 50px;
}

#intro{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 20px;
}

#intro-btn{
    background-color: rgb(5, 109, 174);
    border-radius: 5px;
    width: 50%;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}

#h-img-con{
    width: 25%;
}

#h-img-con img{
    width: 100%;
    object-position: center;
    object-fit: cover;
    height: 100%;
}

#login-form{
    width: 40%;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.283);
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
    row-gap: 20px;
}

.form-con{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.input-con{
    width: 48%;
}

.input-box{
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    border-color: rgb(152, 152, 152);
    border-width: 1px;
    outline: none;
}

#check{
    
}

#login-submit{
    padding: 10px;
    border-style: none;
    width: 100%;
    text-align: center;
    border-radius: 7px;
    background-color: rgb(5, 109, 174);
    color: white;
}

#passless{
    background-color: rgba(5, 109, 174, 0.228);
    width: 100%;
    padding: 15px;
    color: rgb(10, 59, 87);
    text-align: center;
    font-weight: 700;
}

#blog{
    padding-top: 100px;
    padding-bottom: 100px;
}

.blog{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 32%;
    height: 450px;
}

.blog-con{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.265);
}

.blog-top{
    width: 100%;
    height: 60%;
}

.blog-top img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blog-bottom{
    width: 100%;
    height: 40%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.section-conn{
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;

}

.section-con1{
    width: 50%;
    border-radius: 30px;
    overflow: hidden;

}

.section-con1 img{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

.section-con2{
    width: 40%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

#sect1{
    background-color: rgba(5, 109, 174, 0.455);
}

#sect2{
    background-color: rgba(5, 109, 174, 0.107);
}

.sect-btn{
    padding: 10px;
    box-sizing: border-box;
    width: 40%;
    border-radius: 5px;
    background-color: rgb(10, 59, 87);
    color: white;
    text-decoration: none;
    text-align: center;
}

#toggle-nav{
    display: none;
}

#mobile-nav-links{
    display: none;
}

#s{
    display: none;
}

.dropdown-container{
    display: none;
    flex-direction: column;
    background-color: white;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
}



@media screen and (max-width: 1000px) {

    #form-con{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        row-gap: 20px;
    }

    .input-con{
        width: 100%;
    }

    .dropdown-container{
        display: none;
        flex-direction: column;
        background-color: white;
        width: 100%;
        padding: 5px;
        box-sizing: border-box;
        transition: max-height 0.3s ease-out, padding 0.3s ease-out;
    }

    .dropdown-menu{
        width: 300px !important;
    }

    .dropdown-item{
        padding: 30px;
        height: 50px;
        box-sizing: border-box;
    }

    #toggle-nav{
        display: block;
    }

    #nav-links{
        display: none;
    }

    #mobil-nav-links{
        display: block;
    }

    .dropdown-container a:hover{
        background-color: var(--secondary-bg-color);
    }

    #hero{
        row-gap: 20px;
    }

    #intro{
        width: 100%;
    }

    #h-img-con{
        width: 80%;
    }

    #login-form{
        width: 100%;
    }


    .section-con{
        flex-direction: column;
        padding-left: 15px;
        padding-right: 15px;
        row-gap: 25px;
    }

    .section-conn{
        flex-direction: column;
        padding-left: 15px;
        padding-right: 15px;
        row-gap: 25px;
    }

    .section-con1{
        width: 100%;
    }

    .section-con2{
        width: 100%;
    }

    .blog{
        width: 100%;
    }

    #head-con{
        display: none;
    }


}