@import url('./utils/root.css');


#content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.con{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 49%;
    row-gap: 20px;
}

#dd{
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 10px rgba(29, 29, 29, 0.292);
}


#img-con{
    overflow: hidden;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

#img-con img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.info-con{
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 5px;
}

.label{
    font-size: 14px;
}

.info-box{
    background-color: rgb(230, 230, 230);
    padding: 15px;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
}

.profile-con{
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 20px;
    background-color: white;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(29, 29, 29, 0.292);
}

@media screen and (max-width: 1000px) {

    #content{
        align-items: center;
        flex-direction: column-reverse;
    }

    .con{
        width: 100%;
    }


}