{% load static %}

<style>
    #header{
        position: fixed;
        width: 100%;
        display: flex;
        flex-direction: column;
        z-index: 1;
    }

    #header-top{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 20px;
        box-sizing: border-box;
        justify-content: space-between;
        background: linear-gradient(to bottom, rgb(7, 172, 218), rgb(49, 49, 49)200%);
    }

    #header-mid{
        width: 100%;
        display: flex;
        flex-direction: row;
        padding-left: 40px;
        padding-right: 40px;
        box-sizing: border-box;
        align-items: center;
        justify-content: space-between;
        background: linear-gradient(to bottom, rgb(7, 172, 218), rgb(49, 49, 49)200%);
    }

    .header-links{
        width: 40%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    #header-mid a{
        text-decoration: none;
        color: white;
        font-size: 13px;
        padding: 10px;
        box-sizing: border-box;
        width: fit-content;
    }

    #header-mid a:hover{
        color: white;
        background-color: rgb(17, 83, 101);
    }

    #header-bottom{
        width: 100%;
        background-color: white;
        box-shadow: 0 0 10px rgba(29, 29, 29, 0.292);
        display: flex;
        flex-direction: row;
        padding-left: 40px;
        padding-right: 40px;
        box-sizing: border-box;
        align-items: center;
        justify-content: space-between;
    }

    .header-bottom-links{
        width: 40%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .header-bottom-links a{
        color: rgb(14, 148, 185);
        font-size: 16px;
        text-decoration: none;
    }

    .header-bottom-links a i{
        color: rgb(80, 80, 80);
        border-style: solid;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 50%;
        border-width: 2px;
    }

    #navctrl{
        display: none;
        color: white;
        font-size: 20px;
    }


    

    @media screen and (max-width: 1000px) {
        #navctrl{
            display: block;
        }

        #header-logo{
            width: 70px;
        }

        #header-top{
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        #header-mid{
            display: none;
        }

        #header-bottom{
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 0px;
            padding-bottom: 0px;
        }

        .header-bottom-links{
            display: none;
        }
    }
</style>


<div id="header">
    <div id="header-top">
        <i id="navctrl" onclick="OpenSideNav()" class="fa-solid fa-bars"></i>
        <img id="header-logo" src="{% static 'images/citiredesign-footer.svg' %}"/>
    </div>
    <div id="header-mid">
        <div class="header-links">
            <a href="{% url "dashboard" %}">Dashboard</a>
            <a href="{% url "deposit" %}">Deposit</a>
            <a href="{% url "payment" %}">Make Payment</a>
            <a href="{% url "history" %}">Transaction History</a>
            <a href="{% url "cards" %}">Cards</a>
        </div>
       
        <a href="{% url "logout" %}"><i style="color: rgb(185, 0, 0); font-size: 18px;" class="fa-solid fa-right-from-bracket"></i>&nbsp; Sign Off</a>
    </div>
    <div id="header-bottom">
        <h3>Welcome, {{user.full_name}}</h3>

        <div class="header-bottom-links">
            <a href="{% url "profile" %}"><i class="fa-solid fa-user"></i>&nbsp;Profile</a>
            <a href="{% url "loan" %}"><i class="fa-solid fa-envelope"></i>&nbsp;Loan</a>
            <a href="{% url "settings" %}"><i class="fa-solid fa-share-nodes"></i> Settings</a>
        </div>
    </div>
</div>

<script>
    function OpenSideNav(){
        document.getElementById("side-nav").style.width= '70%'
    }
</script>