{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/history.css' %}">
    <link rel="shortcut icon" href="{% static 'images/citiredesign.svg' %}" type="image/x-icon">
    <title>Dashboard</title>
</head>
<body>
    {% include "./utils/side-nav.html" %}
    <div id="main" >
        {% include "./utils/header.html" %}
        <div id="content">

            <i style="font-size: 150px; color: #0fa7ce; margin-top: 100px;" class="fa-solid fa-sack-xmark"></i>
            <h3>Unfortunately, You Can't Apply for a Loan Now</h3>
            <text>Keep using CITI Banking and check back later for eligibility updates.</text>
          
        </div>
    </div>
</body>
</html>