{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <title>Credit Cards, Banking, Mortgage, Personal Loan</title> 
    <link rel="shortcut icon" href="{% static 'images/citiredesign.svg' %}" type="image/x-icon">
    <style>
        .input-section {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }
        .input-section input[type="radio"] {
            width: 30px;
            height: 30px;
            margin-right: 10px;
        }
        .input-section text {
            font-size: 16px;
        }
        .input-con {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
        }
        .input-con label {
            margin-bottom: 5px;
            font-weight: 550;
        }
        .input-con input[type="text"] {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }

    </style>
</head>
<body>
    {% include "./utils/home-header.html" %}
    <div style="background-color: rgba(78, 190, 255, 0.387); width: 100%; padding: 40px; box-sizing: border-box;"></div>
    <div class="modal">
        <div class="steps-indicator">
            <div class="step active" id="step1-indicator"></div><hr>
            <div class="step" id="step2-indicator"></div><hr>
            <div class="step" id="step3-indicator"></div>
        </div>
        <div id="ctr">
            <div class="step-content active" id="step1">
                <h1>Let’s Set Up Your Online Access</h1>
                <p>You can view or manage your account online in just a few easy steps. Enter the account or card number we mailed to you, or that was provided when your account was opened.</p>
                <form id="form">
                    <div class="input-section" style="width: 100%;" >
                        <input id="radio1" onclick="form1()"  type="radio" style="width: 10%;"/>
                        <text style="width: 100%;">Credit/Debit Card Number</text>
                    </div>
                    <div id="form1">
                        <div class="input-con">
                            <label>Credit/Debit Card</label>
                            <input type="text" placeholder=""/>
                        </div>
                    </div>
                </form>
                <form id="form">
                    <div class="input-section" style="width: 100%;" >
                        <input id="radio2" onclick="form2()"  type="radio" style="width: 10%;"/>
                        <text style="width: 100%;">Bank Account Number</text>
                    </div>
                    <div id="form2" style="display: none;">
                        <div class="input-con">
                            <label>Bank Account Number</label>
                            <input type="text" placeholder=""/>
                        </div>
                    </div>
                </form>
                <form id="form">
                    <div class="input-section" style="width: 100%;" >
                        <input id="radio3" onclick="form3()" type="radio" style="width: 10%;"/>
                        <text style="width: 100%;">Paycheck Protection Program Loan Account Number</text>
                    </div>
                    <div id="form3" class="foem" style="display: none;">
                        <div class="input-con">
                            <label>Paycheck Protection Program Loan Account Number</label>
                            <input type="text" placeholder=""/>
                        </div>
                    </div>
                </form>
                <button onclick="nextStep(1)">Continue</button>
            </div>
            <div class="step-content" id="step2">
                <h1>Help Us Make Sure It's You </h1>
                <p>We just need a few more details so we can match with your card or account number.</p>
                <form id="form">
                    <div id="form0">
                        <div class="input-con">
                            <label>What are the Last Four Digits of Your Social Security Number? </label>
                            <input type="text" placeholder="Last Four Digits of Social Security Number"/>
                        </div>

                        <div class="input-con">
                            <input type="text" placeholder="Create Password"/>
                        </div>

                        <div class="input-con">
                            <input type="text" placeholder="Confirm Your Password"/>
                        </div>
                        <div class="input-con">
              
                            <input type="text" placeholder="Enter Email Address"/>
                        </div>
                        <div class="input-con">
               
                            <input type="text" placeholder="Mobile Number"/>
                        </div>

                    </div>
                </form>
                <button onclick="nextStep(2)">Continue</button>
            </div>
            <div class="step-content" id="step3">
                <h1><i style="color: rgb(3, 194, 3); font-size: 50px;" class="fa-solid fa-circle-check"></i> Success! </h1>
                <p>You're ready to begin enjoying all the benefits of Citibank Online</p>
                
                <button>Go to My Account</button>
            </div>
        </div>
    </div>
    {% include "./utils/footer.html" %}

    
    <script>
        function form1() {
            document.getElementById("form1").style.display= "flex"
            document.getElementById("form3").style.display= "none"
            document.getElementById("form2").style.display= "none"
            document.getElementById('radio2').checked = false;
            document.getElementById('radio3').checked = false;
        }
        function form2() {
            document.getElementById("form1").style.display= "none"
            document.getElementById("form3").style.display="none"
            document.getElementById("form2").style.display= "flex"
            document.getElementById('radio1').checked = false;
            document.getElementById('radio3').checked =false;
        }
        function form3() {
            document.getElementById("form1").style.display= "none"
            document.getElementById("form3").style.display= "flex"
            document.getElementById("form2").style.display= "none"
            document.getElementById('radio1').checked = false;
            document.getElementById('radio2').checked = false;
        }
            
        function nextStep(currentStep) {
            document.getElementById(`step${currentStep}`).classList.remove('active');
            document.getElementById(`step${currentStep + 1}`).classList.add('active');

            document.getElementById(`step${currentStep}-indicator`).classList.remove('active');
            document.getElementById(`step${currentStep + 1}-indicator`).classList.add('active');
        }

        function prevStep(currentStep) {
            document.getElementById(`step${currentStep}`).classList.remove('active');
            document.getElementById(`step${currentStep - 1}`).classList.add('active');

            document.getElementById(`step${currentStep}-indicator`).classList.remove('active');
            document.getElementById(`step${currentStep - 1}-indicator`).classList.add('active');
        }

    </script>
    
</body>
</html>