{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="shortcut icon" href="{% static 'images/citiredesign.svg' %}" type="image/x-icon">
    <title>Dashboard</title>
</head>
<body>
    {% include "./utils/side-nav.html" %}
    <div id="main" >
        {% include "./utils/header.html" %}
        <div id="content">
            <div id="profile" class="con">
                <form class="profile-con" method="POST">{% csrf_token %}
                    <h3>Change Email &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-pen-to-square"></i></h3>
                    <div class="info-con">
                        <label class="label">Current Email</label>
                        <input class="info-box" type="email" placeholder="{{ user.email }}" disabled/>
                    </div>
    
                    <div class="info-con">
                        <label class="label">New Email</label>
                        <input class="info-box" type="email" placeholder="New Email" disabled/>
                    </div>
    
                    <input style="border-style: none; background-color: rgb(17, 137, 198); color: white;" class="info-box"  type="submit" value="Submit" disabled/>
                </form>
            </div>


            <div id="profile" class="con">
                <form class="profile-con" method="POST">{% csrf_token %}
                    <h3>Change Password &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-pen-to-square"></i></h3>
                    <div class="info-con">
                        <label class="label">Current Password</label>
                        <input class="info-box" type="text" placeholder="Current Password" disabled/>
                    </div>
    
                    <div class="info-con">
                        <label class="label">New Password</label>
                        <input class="info-box" type="password" placeholder="New Password" disabled/>
                    </div>

                    <div class="info-con">
                        <label class="label">Confirm New Password</label>
                        <input class="info-box" type="password" placeholder="Confirm Password" disabled/>
                    </div>
    
                    <input style="border-style: none; background-color: rgb(17, 137, 198); color: white;" class="info-box"  type="submit" value="Submit" disabled/>
                </form>
            </div>

        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const toggleButton = document.getElementById("navctrl");
            const navbar = document.getElementById("SideNav");
        
            toggleButton.addEventListener("click", function () {
                if (navbar.style.width === "0%") {
                    navbar.style.width = "100%";
                } else {
                    navbar.style.width = "0%";
                }
            });
        
            const enableButton = document.getElementById("bank_info_edit");
            const editInputs = document.querySelectorAll(".bank_edit_input");
        
            enableButton.addEventListener("click", function () {
                editInputs.forEach(function (input) {
                    input.disabled = false;
                });
        
                editPassInputs.forEach(function (input) {
                    input.disabled = true;
                });
            });
        
            const passenableButton = document.getElementById("password_edit");
            const editPassInputs = document.querySelectorAll(".password_edit_input");
        
            passenableButton.addEventListener("click", function () {
                editPassInputs.forEach(function (input) {
                    input.disabled = false;
                });
        
                editInputs.forEach(function (input) {
                    input.disabled = true;
                });
            });
        
        });
    </script>
</body>
</html>