{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/payment.css' %}">
    <link rel="shortcut icon" href="{% static 'images/citiredesign.svg' %}" type="image/x-icon">
    <title>Dashboard</title>
</head>
<body>
    {% include "./utils/side-nav.html" %}
    <div id="main" >
        {% include "./utils/header.html" %}
        <div id="content">
            <div id="ad" style="background-color: rgb(234, 234, 234);">
                <div style="border-bottom-style: solid; border-width: 1px; padding: 15px; box-sizing: border-box; border-color: rgb(195, 195, 195); background-color: white;">
                    <b>CASH REWARDS <i style="color: rgb(214, 23, 23);" class="fa-solid fa-gifts"></i></b>
                </div>
                <div style="background-color: rgb(234, 234, 234); padding: 20px; box-sizing: border-box; height: 100%;">
                    <b>Cash Rewards Balance</b><br><br>
                    <text>$ {{ user.reward_balance }}</text>
                </div>
                <div style="border-top-style: solid; border-width: 1px; padding: 15px; box-sizing: border-box; border-color: rgb(195, 195, 195); background-color: white;">

                </div>
            </div>
            <div class="modal">
                <form method="POST" id="ctr">{% csrf_token %}
                    <div class="step-content active" id="step1">
                        <h2>Set Up Your Payment</h2>
                        <div class="form-con con-form" style="width:100%; border-left-color: rgb(200, 0, 0);">
                            <label>Enter Amount</label>
                            <input type="number" id="amount" class="input" placeholder="Amount" name="amount" required/>
                        </div>
                        
                        <div class="form-con con-form" style="width:100%; border-left-color: rgb(200, 0, 0);">
                            <label>Transfer to another bank?<input type="checkbox" id="toggleRoutingNumber"/></label>
                            
                        </div>
                        
                        <div class="form-con con-form" style="width:100%; border-left-color: rgb(200, 0, 0); display:none;" id="routingNumberField" style="display: none;">
                            <label>Beneficiary Bank Routing Number</label>
                            <input class="input" id="bankRoutingNumber" type="tel" disabled placeholder="Bank Route Number"/>
                        </div>
                        
                        <div class="form-con con-form" style="width:100%; border-left-color: rgb(200, 0, 0);">
                            <label>Beneficiary Account Number</label>
                            <input class="input bene" id="accountNumber" type="tel" placeholder="Account Number" name="acct-num" required/>
                            <div id="user-info">
                                <!-- User information will be displayed here -->
                            </div>
                        </div>

                        <div class="form-con con-form" style="width:100%; border-left-color: rgb(200, 0, 0);">
                            <label>Enter Transaction Pin</label>
                            <input type="number" class="input" placeholder="Transaction Pin" name="pin" required/>
                        </div>

                        <input type="submit" style="background-color: rgb(1, 149, 217); padding: 10px; box-sizing: border-box; color: white; border-style: none; width: 30%;" Value="Make Payment"/>
                    </div>
                </form>
            </div>

        </div>
    </div>


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const input = document.querySelector('.bene');
            const userInfoContainer = document.getElementById('user-info');
            
            input.addEventListener('input', function () {
                const accountNumber = input.value;
                
                if (accountNumber.trim() !== "") {
                    fetch('/get-users-by-account/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                            'X-CSRFToken': getCookie('csrftoken'),  // Include CSRF token for security
                        },
                        body: new URLSearchParams({ 'account_number': accountNumber })
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.users) {
                            displayUsers(data.users);
                        } else if (data.error) {
                            console.error(data.error);
                            userInfoContainer.innerHTML = '<p>Nothing found.</p>';
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        userInfoContainer.innerHTML = '<p>An error occurred.</p>';
                    });
                } else {
                    userInfoContainer.innerHTML = '';
                }
            });
    
            function displayUsers(users) {
                if (users.length === 0) {
                    userInfoContainer.innerHTML = '<p>Nothing found.</p>';
                    return;
                }
    
                const userList = users.map(user => `
                    <div class="user">
                        <p style="font-size: 14px;"><strong>Baneficiary:</strong> ${user.full_name}</p>
                    </div>
                `).join('');
    
                userInfoContainer.innerHTML = userList;
            }
    
            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
        });
    </script>
    

    
    <script>
        document.getElementById('toggleRoutingNumber').addEventListener('change', function() {
            var routingNumberField = document.getElementById('routingNumberField');
            if (this.checked) {
                routingNumberField.style.display = 'flex';
            } else {
                routingNumberField.style.display = 'none';
            }
        });
        
        function CloseSideNav(){
            const sideNav = document.getElementById("side-nav");
            if (window.innerWidth < 1000) {
                if (sideNav.style.width !== '0%') {
                    sideNav.style.width = '0%';
                    sideNav.style.padding = '0px';
                }
            }
        }
    </script>
</body>
</html>