{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <title> Banking, Mortgage, Personal Loan</title>
    <link href='https://fonts.googleapis.com/css?family=Signika Negative' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>   
    <link rel="shortcut icon" href="{% static 'images/citiredesign.svg' %}" type="image/x-icon">
    <title>BlueTrust</title>
</head>
<body>
    <h2 style="color: black; font-family: 'Signika Negative';">Create An Account</h2>

    <form id="signup-form" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <div id="signup-form-con">
            <div class="s-input-con">
                <label class="label">Account Type</label>
                <select class="s-input-field" name="acct_type">
                    <option value="Savings Account">Savings Account</option>
                    <option value="Current Account">Current Account</option>
                </select>
            </div>
            
            <div class="s-input-con">
                <label class="label">Gender</label>
                <select class="s-input-field" name="gender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>

            <div class="s-input-con">
                <label class="label">Title</label>
                <select class="s-input-field" name="title">
                    <option value="Mr.">Mr.</option>
                    <option value="Ms.">Ms.</option>
                    <option value="Mrs.">Mrs.</option>
                    <option value="Dr.">Dr.</option>
                </select>
            </div>

            <div class="s-input-con">
                <label class="label">First Name</label>
                <input class="s-input-field" type="text" name="first_name" />
            </div>

            <div class="s-input-con">
                <label class="label">Middle Name</label>
                <input class="s-input-field" type="text" name="middle_name" />
            </div>

            <div class="s-input-con">
                <label class="label">Last Name</label>
                <input class="s-input-field" type="text" name="last_name" />
            </div>

            <div class="s-input-con">
                <label class="label">Date Of Birth</label>
                <input class="s-input-field" type="date" name="birth_date" />
            </div>

            <div class="s-input-con">
                <label class="label">Telephone Number</label>
                <input class="s-input-field" type="tel" name="number" />
            </div>

            <div class="s-input-con">
                <label class="label">Email</label>
                <input class="s-input-field" type="email" name="email" />
            </div>

            <div class="s-input-con">
                <label class="label">Password</label>
                <input class="s-input-field" type="password" name="password" />
            </div>

            <div class="s-input-con">
                <label class="label">Confirm Password</label>
                <input class="s-input-field" type="password" name="password2" />
            </div>


            <div class="s-input-con">
                <label class="label" >Country</label>
                <select class="s-input-field" id="countrySelect" name="country">
                    <option disabled selected>-- Select Country --</option>
                </select>
            </div>

            <div class="s-input-con">
                <label class="label">SSN</label>
                <input class="s-input-field" type="text" name="ssn" />
            </div>

            <div class="s-input-con">
                <label class="label">Transaction Pin</label>
                <input class="s-input-field" type="text" name="pin" />
            </div>
        </div>

        <h4>{{ error_message }}</h4>

        <input type="submit" id="submit" value="Create My Account" />

        <p class="p">Already have an account? <a href="{% url 'index' %}" class="link">Login</a></p>
    </form>

    <script>
        const selectElement = document.getElementById('countrySelect');
        const apiUrl = 'https://restcountries.com/v3.1/all';

        fetch(apiUrl)
            .then(response => response.json())
            .then(data => {
                const countries = data.map(country => country.name.common);
                countries.sort(); // Sort the country names alphabetically

                countries.forEach(country => {
                    const option = document.createElement('option');
                    option.text = country;
                    selectElement.add(option);
                });
            });
    </script>
</body>
</html>
